<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/vlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="lecturer">

    <ion-card>
        
        <ion-card-content>
            <img src="{{lecturer.picture}}"/>
            <h2>{{lecturer.name}}</h2>
            <h3>{{lecturer.title}}</h3>
        </ion-card-content>

        <ion-list>
            <a href="tel:{{lecturer.Phone__c}}" ion-item>
                <ion-icon name="call" item-left></ion-icon>
                <p>Call Office</p>
                <h2>{{lecturer.phone}}</h2>
            </a>
            <a href="tel:{{lecturer.phone}}" ion-item>
                <ion-icon name="call" item-left></ion-icon>
                <p>Call Mobile</p>
                <h2>{{lecturer.mobilePhone}}</h2>
            </a>
            <a href="tel:{{lecturer.phone}}" ion-item>
                <ion-icon name="text" item-left></ion-icon>
                <p>Text</p>
                <h2>{{lecturer.mobilePhone}}</h2>
            </a>
            <a href="mailto:{{lecturer.email}}" ion-item>
                <ion-icon name="mail" item-left></ion-icon>
                <p>Email</p>
                <h2>{{lecturer.email}}</h2>
            </a>
        </ion-list>

    </ion-card>

</ion-content>
