<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/vlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about">
    <ion-card>
        <img id="bgrimage" src="/assets/img/logo.png" alt="imagenotavailable">
        <ion-card-header>
            <ion-card-title>Welcome to Student Voices</ion-card-title>
        </ion-card-header>
    </ion-card>

</ion-content>
