<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/vlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about">
  
    <div class="tab-wrap">
  
    <input type="radio" name="tabs" id="tab1" checked>
    <div class="tab-label-content" id="tab1-content">
      <label class="tab-label" for="tab1" style="font-size: 16px;">Subscription Articles</label>
      <div class="tab-content">
        Hello Subscribers
      </div>
    </div>
     
    <input type="radio" name="tabs" id="tab2">
    <div class="tab-label-content" id="tab2-content">
      <label class="tab-label" for="tab2" style="font-size: 16px;">Free Articles</label>
      <div class="tab-content">
        Hello Free
      </div>
    </div>
    
    
    <div class="slide"></div>
  
    </div>

    <ion-card class="welcome-card">
        <img id="bgrimage" src="/assets/img/logo.png" alt="imagenotavailable">
        <ion-card-header>
            <ion-card-title>Welcome to Article</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            </p>
        </ion-card-content>
    </ion-card>

</ion-content>
