<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/vlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="shop">

    <ion-card>
        
        <ion-card-content>
            <img src="{{shop.picture}}"/>
            <h2>{{shop.name}}</h2>
            <h3>{{shop.title}}</h3>
        </ion-card-content>

        <ion-list>
            <a href="tel:{{shop.Phone__c}}" ion-item>
                <ion-icon name="call" item-left></ion-icon>
                <p>Call Office</p>
                <h2>{{shop.phone}}</h2>
            </a>
            <a href="tel:{{shop.phone}}" ion-item>
                <ion-icon name="call" item-left></ion-icon>
                <p>Call Mobile</p>
                <h2>{{shop.mobilePhone}}</h2>
            </a>
            <a href="tel:{{shop.phone}}" ion-item>
                <ion-icon name="text" item-left></ion-icon>
                <p>Text</p>
                <h2>{{shop.mobilePhone}}</h2>
            </a>
            <a href="mailto:{{shop.email}}" ion-item>
                <ion-icon name="mail" item-left></ion-icon>
                <p>Email</p>
                <h2>{{shop.email}}</h2>
            </a>
        </ion-list>

    </ion-card>

</ion-content>
