<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/vlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h2>Hello..... I'm Event Page.</h2>
    <ion-list>
          
        <button ion-item *ngFor="let event of events" (click)="openEventDetail(event)">
            <ion-avatar item-left>
                <img src="{{event.picture}}"/>
            </ion-avatar>
            <h2>{{event.name}}</h2>
            <p>{{event.title}}</p>
        </button>

    </ion-list>

</ion-content>
