<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/vlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about">

    <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($shop)"
                       (ionCancel)="onCancel($shop)"></ion-searchbar>
                       
    <h2>Hello..... I'm Shop Page.</h2>
    <ion-list>
          
        <button ion-item *ngFor="let shop of shops" (click)="openShopDetail(shop)">
            <ion-avatar item-left>
                <img src="{{shop.picture}}"/>
            </ion-avatar>
            <h2>{{shop.name}}</h2>
            <p>{{shop.title}}</p>
        </button>

    </ion-list>

</ion-content>
