<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/vlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about">

    <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($shop)"
                       (ionCancel)="onCancel($shop)"></ion-searchbar>
                       
    <h2>Hello..... I'm Shop Page.</h2>
    

    <ion-row wrap>
    <ion-col class="ion-no-padding" col-4 *ngFor="let shop of shops">  
      <ion-card (click)="openShopDetail(shop)"> 

        <ion-card class="img-width">
          <ion-avatar item-left>
            <img src="{{shop.picture}}"/>
          </ion-avatar>
        </ion-card>

        <div>
          <h2>{{shop.name}}</h2>
          <p>{{shop.title}}</p>
        </div>

    </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
