<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/vlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about">
    <ion-card class="welcome-card">
        <img src="/assets/shapes.svg" alt=""/>
        <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title>Welcome to Shop</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </ion-card-content>
    </ion-card>

    <ion-list lines="none">
        <ion-list-header>
            <ion-label>About Us</ion-label>
        </ion-list-header>
        <ion-item href="tel:095088114">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </ion-item>
    </ion-list>

    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Contact Us</ion-label>
        </ion-list-header>
        <ion-item href="tel:095088114">
            <ion-icon slot="start" color="medium" name="call"></ion-icon>
            <ion-label>+95-9-402035959</ion-label>
        </ion-item>
        <ion-item href="mailto:kathryntalkforyou@gmail.com">
            <ion-icon slot="start" color="medium" name="mail"></ion-icon>
            <ion-label>kathryntalkforyou@gmail.com</ion-label>
        </ion-item>
        <ion-item href="https://www.kathryntalk.com">
            <ion-icon slot="start" color="medium" name="grid"></ion-icon>
            <ion-label>www.kathryntalk.com</ion-label>
        </ion-item>
    </ion-list>

</ion-content>
