<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/vlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col col-4>

      <!-- <ion-button href="/video">Move to Video page</ion-button>

      <ion-button [routerLink]="['/profile']">Move to Profile page</ion-button> -->

      <div>
        <button class="btn" [routerLink]="['/about']">
            <ion-icon slot="start" color="primary" name="information-circle"></ion-icon>
        </button>
      </div>
      <div>
        <ion-label color="#569dd5" class="text">ABOUT US</ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <button class="btn" [routerLink]="['/video']">
          <ion-icon slot="start" color="primary" name="logo-youtube"></ion-icon>
        </button>
      </div>
      <div>
        <ion-label color="#569dd5" class="text">VIDEOS</ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <button class="btn" [routerLink]="['/article']">
        <ion-icon slot="start" color="primary" name="paper"></ion-icon>
      </button>
      </div>
      <div>
        <ion-label color="#569dd5" class="text">ARTICLES</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-md-4>
      <div>
        <button class="btn" [routerLink]="['/course']">
        <ion-icon slot="start" color="primary" name="book"></ion-icon>
      </button>
      </div>
      <div>
        <ion-label color="#569dd5" class="text">COURSES</ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <button class="btn" [routerLink]="['/lecturer-profile']">
        <ion-icon slot="start" color="primary" name="contacts"></ion-icon>
      </button>
      </div>
      <div>
        <ion-label color="#569dd5" class="text">LECTURER PROFILE</ion-label>
      </div>
    </ion-col>
    <ion-col col-md-4>
      <div>
        <button class="btn" [routerLink]="['/student-voice']">
        <ion-icon slot="start" color="primary" name="notifications"></ion-icon>
      </button>
      </div>
      <div>
        <ion-label color="#569dd5" class="text">STUDENT VOICES</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-md-4>
      <div>
        <button class="btn" [routerLink]="['/shop']">
        <ion-icon slot="start" color="primary" name="cart"></ion-icon>
        </button>
      </div>
      <div>
        <ion-label color="#569dd5" class="text">SHOP</ion-label>
      </div>
    </ion-col>

    <ion-col>
      <div>
        <button class="btn" [routerLink]="['/event']">
        <ion-icon slot="start" color="primary" name="calendar"></ion-icon>
        </button>
      </div>
      <div>
        <ion-label color="#569dd5" class="text">EVENTS</ion-label>
      </div>
    </ion-col>

    <ion-col>
      <div>
        <button class="btn" [routerLink]="['/profile']">
          <ion-icon slot="start" color="primary" name="person"></ion-icon>
      </button>
      </div>
      <div>
        <ion-label color="primary" class="text">PROFILE</ion-label>
      </div>
    </ion-col>

  </ion-row>

</ion-content>
